.top-message{
  font-size: 60px;
  padding-top: 100px;
  padding-bottom: 150px;
}
.message{
  position: relative;
  display: inline-block;
  margin: 0px 0px 70px 70px;
  padding: 7px 10px; 
  min-width: 120px;
  max-width: 70%;
  color: #555;
  font-size: 32px;
  background: #FFF;
  border: solid 3px #fff;
  box-sizing: border-box;
  border-radius: 15px;
}
.left:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  left: 23px;
  bottom: -20px;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #ffffff;
  border-right: 20px solid #ffffff;
  border-top: 20px solid transparent;
}
.left:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  left: 40px;
  bottom: -22px;
  border-left: 20px solid transparent;
  border-bottom: 20px solid rgb(53, 51, 51);
  border-right: 20px solid rgb(53, 51, 51);
  border-top: 20px solid transparent;
}
.right:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  right: 23px;
  bottom: -20px;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #ffffff;
  border-right: 20px solid #ffffff;
  border-top: 20px solid transparent;
} 
.right:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  right: 40px;
  bottom: -22px;
  border-left: 20px solid transparent;
  border-bottom: 20px solid rgb(53, 51, 51);
  border-right: 20px solid rgb(53, 51, 51);
  border-top: 20px solid transparent;
}
